@import 'core.less';
@import 'fonts.less';
@import 'street-view.less';
@import 'controls.less';

#distance {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
}

.map {
  width: 500px;
  height: 500px;
  background-color: #333333;
}
